* {
  font-family: Roboto sans-serif;
  box-sizing: border-box;
  /* border: 2px solid red; */
}
body {
  background-color: #e5e5e5;
  overflow-x: hidden;
}
.App {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 540px) {
  .App {
    width: 90%;
    margin: 0 auto;
  }
}
